/*
 * Skeleton V1.1
 * Copyright 2011, Dave Gamache
 * 
 * Compass-sass edition by Nate Hunzaker
 *
 * www.getskeleton.com
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 8/17/2011
 */
@import url(http://fonts.googleapis.com/css?family=VT323);
/* line 4, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 11, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 13, ../sass/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 15, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 17, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 20, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 23, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, ../sass/partials/_base_type.scss */
body {
  background: #fff;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/* line 16, ../sass/partials/_base_type.scss */
h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: "VT323", sans-serif;
  font-weight: normal;
}
/* line 21, ../sass/partials/_base_type.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 26, ../sass/partials/_base_type.scss */
h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 14px;
}

/* line 27, ../sass/partials/_base_type.scss */
h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px;
}

/* line 28, ../sass/partials/_base_type.scss */
h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
}

/* line 29, ../sass/partials/_base_type.scss */
h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px;
}

/* line 30, ../sass/partials/_base_type.scss */
h5 {
  font-size: 17px;
  line-height: 24px;
}

/* line 31, ../sass/partials/_base_type.scss */
h6 {
  font-size: 14px;
  line-height: 21px;
}

/* line 33, ../sass/partials/_base_type.scss */
.subheader {
  color: #777;
}

/* line 35, ../sass/partials/_base_type.scss */
p {
  margin: 0 0 20px 0;
}
/* line 38, ../sass/partials/_base_type.scss */
p img {
  margin: 0;
}
/* line 42, ../sass/partials/_base_type.scss */
p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777;
}

/* line 51, ../sass/partials/_base_type.scss */
em {
  font-style: italic;
}

/* line 52, ../sass/partials/_base_type.scss */
strong {
  font-weight: bold;
  color: #333;
}

/* line 53, ../sass/partials/_base_type.scss */
small {
  font-size: 80%;
}

/*	Blockquotes  */
/* line 56, ../sass/partials/_base_type.scss */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}

/* line 57, ../sass/partials/_base_type.scss */
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}

/* line 58, ../sass/partials/_base_type.scss */
blockquote cite {
  display: block;
  font-size: 12px;
  color: #555;
}

/* line 59, ../sass/partials/_base_type.scss */
blockquote cite:before {
  content: "\2014 \0020";
}

/* line 60, ../sass/partials/_base_type.scss */
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
  color: #555;
}

/* line 62, ../sass/partials/_base_type.scss */
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

/* line 68, ../sass/partials/_base_type.scss */
a, a:visited {
  color: #333;
  text-decoration: underline;
  outline: 0;
}

/* line 69, ../sass/partials/_base_type.scss */
a:hover, a:focus {
  color: #000;
}

/* line 70, ../sass/partials/_base_type.scss */
p a, p a:visited {
  line-height: inherit;
}

/* line 4, ../sass/partials/_lists.scss */
ul, ol {
  margin-bottom: 20px;
}

/* line 8, ../sass/partials/_lists.scss */
ul {
  list-style: none outside;
}

/* line 12, ../sass/partials/_lists.scss */
ol {
  list-style: decimal;
}

/* line 16, ../sass/partials/_lists.scss */
ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px;
}

/* line 20, ../sass/partials/_lists.scss */
ul.square {
  list-style: square outside;
}

/* line 24, ../sass/partials/_lists.scss */
ul.circle {
  list-style: circle outside;
}

/* line 28, ../sass/partials/_lists.scss */
ul.disc {
  list-style: disc outside;
}

/* line 32, ../sass/partials/_lists.scss */
ul ul, ul ol, ol ol, ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%;
}

/* line 37, ../sass/partials/_lists.scss */
ul ul li, ul ol li, ol ol li, ol ul li {
  margin-bottom: 6px;
}

/* line 41, ../sass/partials/_lists.scss */
li {
  line-height: 18px;
  margin-bottom: 12px;
}

/* line 46, ../sass/partials/_lists.scss */
ul.large li {
  line-height: 21px;
}

/* line 50, ../sass/partials/_lists.scss */
li p {
  line-height: 21px;
}

/* line 4, ../sass/partials/_images.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 12, ../sass/partials/_buttons.scss */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  background: #eee;
  /* Old browsers */
  border: 1px solid #aaa;
  border-color: #ccc #ccc #aaa #ccc;
  color: #444;
  cursor: pointer;
  font: bold 11px/normal "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  padding: 8px 10px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))), #eeeeee;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)), #eeeeee;
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)), #eeeeee;
  background: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)), #eeeeee;
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)), #eeeeee;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)), #eeeeee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  *display: inline;
}
/* line 29, ../sass/partials/_buttons.scss */
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #222;
  background: #ddd;
  /* Old browsers */
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3))), #222222;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)), #222222;
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)), #222222;
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)), #222222;
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)), #222222;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)), #222222;
  border: 1px solid #888;
  border-color: #aaa #888 #888 #aaa;
}
/* line 37, ../sass/partials/_buttons.scss */
.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
  background: #ccc;
  /* Old browsers */
  border: 1px solid #666;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4))), #cccccc;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.35), rgba(10, 10, 10, 0.4)), #cccccc;
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.35), rgba(10, 10, 10, 0.4)), #cccccc;
  background: -o-linear-gradient(rgba(255, 255, 255, 0.35), rgba(10, 10, 10, 0.4)), #cccccc;
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.35), rgba(10, 10, 10, 0.4)), #cccccc;
  background: linear-gradient(rgba(255, 255, 255, 0.35), rgba(10, 10, 10, 0.4)), #cccccc;
}
/* line 43, ../sass/partials/_buttons.scss */
.button.full-width, button.full-width, input[type="submit"].full-width, input[type="reset"].full-width, input[type="button"].full-width {
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
  width: 100%;
}

/* Fix for odd Mozilla border & padding issues */
/* line 53, ../sass/partials/_buttons.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 4, ../sass/partials/_tabs.scss */
ul.tabs {
  display: block;
  margin: 0 0 20px 0;
  padding: 0;
  border-bottom: solid 1px #ddd;
  zoom: 1;
}
/* line 12, ../sass/partials/_tabs.scss */
ul.tabs li {
  display: block;
  width: auto;
  height: 30px;
  padding: 0;
  float: left;
  margin-bottom: 0;
}
/* line 20, ../sass/partials/_tabs.scss */
ul.tabs li a {
  display: block;
  text-decoration: none;
  width: auto;
  height: 29px;
  padding: 0px 20px;
  line-height: 30px;
  border: solid 1px #ddd;
  border-width: 1px 1px 0 0;
  margin: 0;
  background: #f5f5f5;
}
/* line 32, ../sass/partials/_tabs.scss */
ul.tabs li a.active {
  background: #fff;
  height: 30px;
  position: relative;
  top: -4px;
  padding-top: 4px;
  border-left-width: 1px;
  margin: 0 0 0 -1px;
  color: #111;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -khtml-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -khtml-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
/* line 45, ../sass/partials/_tabs.scss */
ul.tabs li a:first-child {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -khtml-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -khtml-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
/* line 49, ../sass/partials/_tabs.scss */
ul.tabs li a:first-child a {
  border-width: 1px 1px 0 1px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -khtml-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -khtml-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
/* line 53, ../sass/partials/_tabs.scss */
ul.tabs li a:first-child a.active {
  margin-left: 0;
}
/* line 64, ../sass/partials/_tabs.scss */
ul.tabs:before, ul.tabs:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* line 73, ../sass/partials/_tabs.scss */
ul.tabs:after {
  clear: both;
}

/* line 79, ../sass/partials/_tabs.scss */
ul.tabs-content {
  margin: 0;
  display: block;
}
/* line 82, ../sass/partials/_tabs.scss */
ul.tabs-content > li {
  display: none;
}
/* line 85, ../sass/partials/_tabs.scss */
ul.tabs-content > li.active {
  display: block;
}

/* line 4, ../sass/partials/_forms.scss */
form, fieldset {
  margin-bottom: 20px;
}

/* line 8, ../sass/partials/_forms.scss */
input[type="number"] {
  -webkit-apperance: none;
}

/* line 12, ../sass/partials/_forms.scss */
input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea, select {
  background: #fff;
  border: 1px solid #ccc;
  color: #777;
  display: block;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 20px;
  max-width: 100%;
  outline: none;
  padding: 6px 4px;
  width: 210px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
/* line 27, ../sass/partials/_forms.scss */
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, textarea:focus, select:focus {
  border: 1px solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/* line 35, ../sass/partials/_forms.scss */
select {
  padding: 0;
  width: 220px;
}

/* line 40, ../sass/partials/_forms.scss */
textarea {
  min-height: 60px;
}

/* line 44, ../sass/partials/_forms.scss */
label, legend {
  display: block;
  font-weight: bold;
  font-size: 13px;
}

/* line 50, ../sass/partials/_forms.scss */
input[type="checkbox"] {
  display: inline;
}

/* line 54, ../sass/partials/_forms.scss */
label span, legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444;
}

/* line 4, ../sass/partials/_misc.scss */
.remove-bottom {
  margin-bottom: 0 !important;
}

/* line 5, ../sass/partials/_misc.scss */
.half-bottom {
  margin-bottom: 10px !important;
}

/* line 6, ../sass/partials/_misc.scss */
.add-bottom {
  margin-bottom: 20px !important;
}

/* line 18, ../sass/partials/_grid.scss */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

/* line 19, ../sass/partials/_grid.scss */
.row {
  margin-bottom: 20px;
}

/* line 22, ../sass/partials/_grid.scss */
.container {
  /* Nested Column Classes */
}
/* line 25, ../sass/partials/_grid.scss */
.container .one.column, .container .one-third.column, .container .two-thirds.column,
.container .one.columns {
  width: 40px;
  float: left;
  display: inline;
  margin: 0 10px 20px 10px;
}
/* line 26, ../sass/partials/_grid.scss */
.container .two.columns {
  width: 100px;
  float: left;
  display: inline;
  margin: 0 10px 20px 10px;
}
/* line 27, ../sass/partials/_grid.scss */
.container .three.columns {
  width: 160px;
  float: left;
  display: inline;
  margin: 0 10px 20px 10px;
}
/* line 28, ../sass/partials/_grid.scss */
.container .four.columns {
  width: 220px;
  float: left;
  display: inline;
  margin: 0 10px 20px 10px;
}
/* line 29, ../sass/partials/_grid.scss */
.container .five.columns {
  width: 280px;
  float: left;
  display: inline;
  margin: 0 10px 20px 10px;
}
/* line 30, ../sass/partials/_grid.scss */
.container .six.columns {
  width: 340px;
  float: left;
  display: inline;
  margin: 0 10px 20px 10px;
}
/* line 31, ../sass/partials/_grid.scss */
.container .seven.columns {
  width: 400px;
  float: left;
  display: inline;
  margin: 0 10px 20px 10px;
}
/* line 32, ../sass/partials/_grid.scss */
.container .eight.columns {
  width: 460px;
  float: left;
  display: inline;
  margin: 0 10px 20px 10px;
}
/* line 33, ../sass/partials/_grid.scss */
.container .nine.columns {
  width: 520px;
  float: left;
  display: inline;
  margin: 0 10px 20px 10px;
}
/* line 34, ../sass/partials/_grid.scss */
.container .ten.columns {
  width: 580px;
  float: left;
  display: inline;
  margin: 0 10px 20px 10px;
}
/* line 35, ../sass/partials/_grid.scss */
.container .eleven.columns {
  width: 640px;
  float: left;
  display: inline;
  margin: 0 10px 20px 10px;
}
/* line 36, ../sass/partials/_grid.scss */
.container .twelve.columns {
  width: 700px;
  float: left;
  display: inline;
  margin: 0 10px 20px 10px;
}
/* line 37, ../sass/partials/_grid.scss */
.container .thirteen.columns {
  width: 760px;
  float: left;
  display: inline;
  margin: 0 10px 20px 10px;
}
/* line 38, ../sass/partials/_grid.scss */
.container .fourteen.columns {
  width: 820px;
  float: left;
  display: inline;
  margin: 0 10px 20px 10px;
}
/* line 39, ../sass/partials/_grid.scss */
.container .fifteen.columns {
  width: 880px;
  float: left;
  display: inline;
  margin: 0 10px 20px 10px;
}
/* line 40, ../sass/partials/_grid.scss */
.container .sixteen.columns {
  width: 940px;
  float: left;
  display: inline;
  margin: 0 10px 20px 10px;
}
/* line 42, ../sass/partials/_grid.scss */
.container .one-third.column {
  width: 300px;
}
/* line 43, ../sass/partials/_grid.scss */
.container .two-thirds.column {
  width: 600px;
}
/* line 46, ../sass/partials/_grid.scss */
.container .offset-by-one {
  padding-left: 60px;
}
/* line 47, ../sass/partials/_grid.scss */
.container .offset-by-two {
  padding-left: 120px;
}
/* line 48, ../sass/partials/_grid.scss */
.container .offset-by-three {
  padding-left: 180px;
}
/* line 49, ../sass/partials/_grid.scss */
.container .offset-by-four {
  padding-left: 240px;
}
/* line 50, ../sass/partials/_grid.scss */
.container .offset-by-five {
  padding-left: 300px;
}
/* line 51, ../sass/partials/_grid.scss */
.container .offset-by-six {
  padding-left: 360px;
}
/* line 52, ../sass/partials/_grid.scss */
.container .offset-by-seven {
  padding-left: 420px;
}
/* line 53, ../sass/partials/_grid.scss */
.container .offset-by-eight {
  padding-left: 480px;
}
/* line 54, ../sass/partials/_grid.scss */
.container .offset-by-nine {
  padding-left: 540px;
}
/* line 55, ../sass/partials/_grid.scss */
.container .offset-by-ten {
  padding-left: 600px;
}
/* line 56, ../sass/partials/_grid.scss */
.container .offset-by-eleven {
  padding-left: 660px;
}
/* line 57, ../sass/partials/_grid.scss */
.container .offset-by-twelve {
  padding-left: 720px;
}
/* line 58, ../sass/partials/_grid.scss */
.container .offset-by-thirteen {
  padding-left: 780px;
}
/* line 59, ../sass/partials/_grid.scss */
.container .offset-by-fourteen {
  padding-left: 840px;
}
/* line 60, ../sass/partials/_grid.scss */
.container .offset-by-fifteen {
  padding-left: 900px;
}
/* line 63, ../sass/partials/_grid.scss */
.container .column.alpha, .container .columns.alpha {
  margin-left: 0;
}
/* line 64, ../sass/partials/_grid.scss */
.container .column.omega, .container .columns.omega {
  margin-right: 0;
}

/* #Tablet (Portrait)
   ================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 75, ../sass/partials/_grid.scss */
  .container {
    width: 768px;
  }

  /* line 77, ../sass/partials/_grid.scss */
  .container .column,
  .container .columns {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* line 78, ../sass/partials/_grid.scss */
  .column.alpha, .columns.alpha {
    margin-left: 0;
    margin-right: 10px;
  }

  /* line 79, ../sass/partials/_grid.scss */
  .column.omega, .columns.omega {
    margin-right: 0;
    margin-left: 10px;
  }

  /* line 80, ../sass/partials/_grid.scss */
  .alpha.omega {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 83, ../sass/partials/_grid.scss */
  .container .one.column, .container .one-third.column, .container .two-thirds.column,
  .container .one.columns {
    width: 28px;
  }

  /* line 84, ../sass/partials/_grid.scss */
  .container .two.columns {
    width: 76px;
  }

  /* line 85, ../sass/partials/_grid.scss */
  .container .three.columns {
    width: 124px;
  }

  /* line 86, ../sass/partials/_grid.scss */
  .container .four.columns {
    width: 172px;
  }

  /* line 87, ../sass/partials/_grid.scss */
  .container .five.columns {
    width: 220px;
  }

  /* line 88, ../sass/partials/_grid.scss */
  .container .six.columns {
    width: 268px;
  }

  /* line 89, ../sass/partials/_grid.scss */
  .container .seven.columns {
    width: 316px;
  }

  /* line 90, ../sass/partials/_grid.scss */
  .container .eight.columns {
    width: 364px;
  }

  /* line 91, ../sass/partials/_grid.scss */
  .container .nine.columns {
    width: 412px;
  }

  /* line 92, ../sass/partials/_grid.scss */
  .container .ten.columns {
    width: 460px;
  }

  /* line 93, ../sass/partials/_grid.scss */
  .container .eleven.columns {
    width: 508px;
  }

  /* line 94, ../sass/partials/_grid.scss */
  .container .twelve.columns {
    width: 556px;
  }

  /* line 95, ../sass/partials/_grid.scss */
  .container .thirteen.columns {
    width: 604px;
  }

  /* line 96, ../sass/partials/_grid.scss */
  .container .fourteen.columns {
    width: 652px;
  }

  /* line 97, ../sass/partials/_grid.scss */
  .container .fifteen.columns {
    width: 700px;
  }

  /* line 98, ../sass/partials/_grid.scss */
  .container .sixteen.columns {
    width: 748px;
  }

  /* line 100, ../sass/partials/_grid.scss */
  .container .one-third.column {
    width: 236px;
  }

  /* line 101, ../sass/partials/_grid.scss */
  .container .two-thirds.column {
    width: 492px;
  }

  /* Offsets */
  /* line 104, ../sass/partials/_grid.scss */
  .container .offset-by-one {
    padding-left: 48px;
  }

  /* line 105, ../sass/partials/_grid.scss */
  .container .offset-by-two {
    padding-left: 96px;
  }

  /* line 106, ../sass/partials/_grid.scss */
  .container .offset-by-three {
    padding-left: 144px;
  }

  /* line 107, ../sass/partials/_grid.scss */
  .container .offset-by-four {
    padding-left: 192px;
  }

  /* line 108, ../sass/partials/_grid.scss */
  .container .offset-by-five {
    padding-left: 240px;
  }

  /* line 109, ../sass/partials/_grid.scss */
  .container .offset-by-six {
    padding-left: 288px;
  }

  /* line 110, ../sass/partials/_grid.scss */
  .container .offset-by-seven {
    padding-left: 336px;
  }

  /* line 111, ../sass/partials/_grid.scss */
  .container .offset-by-eight {
    padding-left: 348px;
  }

  /* line 112, ../sass/partials/_grid.scss */
  .container .offset-by-nine {
    padding-left: 432px;
  }

  /* line 113, ../sass/partials/_grid.scss */
  .container .offset-by-ten {
    padding-left: 480px;
  }

  /* line 114, ../sass/partials/_grid.scss */
  .container .offset-by-eleven {
    padding-left: 528px;
  }

  /* line 115, ../sass/partials/_grid.scss */
  .container .offset-by-twelve {
    padding-left: 576px;
  }

  /* line 116, ../sass/partials/_grid.scss */
  .container .offset-by-thirteen {
    padding-left: 624px;
  }

  /* line 117, ../sass/partials/_grid.scss */
  .container .offset-by-fourteen {
    padding-left: 672px;
  }

  /* line 118, ../sass/partials/_grid.scss */
  .container .offset-by-fifteen {
    padding-left: 720px;
  }
}
/*  #Mobile (Portrait)
    ================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  /* line 128, ../sass/partials/_grid.scss */
  .container {
    width: 300px;
  }

  /* line 130, ../sass/partials/_grid.scss */
  .container .columns,
  .container .column {
    margin: 0;
  }

  /* line 150, ../sass/partials/_grid.scss */
  .container .one.column, .container .one-third.column, .container .two-thirds.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 300px;
  }

  /* Offsets */
  /* line 167, ../sass/partials/_grid.scss */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0;
  }
}
/* #Mobile (Landscape)
   ================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 178, ../sass/partials/_grid.scss */
  .container {
    width: 420px;
  }

  /* line 180, ../sass/partials/_grid.scss */
  .container .columns,
  .container .column {
    margin: 0;
  }

  /* line 200, ../sass/partials/_grid.scss */
  .container .one.column, .container .one-third.column, .container .two-thirds.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 420px;
  }
}
/* #Clearing
   ================================================== */
/* Self Clearing Goodness */
/* line 208, ../sass/partials/_grid.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
   or wrap each row of columns in a <div class="row"> */
/* line 215, ../sass/partials/_grid.scss */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 223, ../sass/partials/_grid.scss */
.row:after,
.clearfix:after {
  clear: both;
}

/* line 226, ../sass/partials/_grid.scss */
.row,
.clearfix {
  zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */
/* line 230, ../sass/partials/_grid.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 3, ../sass/partials/_custom.scss */
body {
  background: #333333 url("/images/dark_dotted.png");
  padding-top: 60px;
}

/* line 8, ../sass/partials/_custom.scss */
section {
  background: #d9d9d9 url("/images/brushed_alu.png");
  margin: 0 auto;
  padding: 10px;
  width: 45%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 16, ../sass/partials/_custom.scss */
section header {
  text-align: center;
}

/* line 21, ../sass/partials/_custom.scss */
p {
  margin: 1em 0;
}

/* line 25, ../sass/partials/_custom.scss */
#feed {
  background: #222;
  border: 1px solid #111;
  border-bottom: 0;
  color: #fff;
  height: 400px;
  margin-top: 20px;
  overflow-y: scroll;
  padding: 1% 2%;
  width: 96%;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.45), 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.45), 0 1px 1px rgba(255, 255, 255, 0.75);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.45), 0 1px 1px rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.45), 0 1px 1px rgba(255, 255, 255, 0.75);
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -khtml-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -khtml-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 39, ../sass/partials/_custom.scss */
#feed strong {
  color: #f0f0f0;
}

/* line 45, ../sass/partials/_custom.scss */
input[type="text"] {
  background: #111;
  border-color: transparent #111 #000;
  color: #fff;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 98.5%;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  -ms-border-top-left-radius: 0;
  -khtml-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  -ms-border-top-right-radius: 0;
  -khtml-border-top-right-radius: 0;
  border-top-right-radius: 0;
}
